# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
*.db
*.sqlite3

# Node
node_modules/
dist/
build/
.DS_Store

# Credentials
.env
secret.py

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
*.so

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo
